beautifulsoup4==4.12.3
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
idna==3.7
marshmallow==3.21.3
packaging==24.1
pillow==10.4.0
pycparser==2.22
python-dotenv==1.0.1
requests==2.32.3
soupsieve==2.5
urllib3==2.2.2
